<h1><%= "#{@year}年" %></h1>

<% @targets.each do |target| %>
   <div><%= link_to target.name, edit_annual_target_path(target.id) %></div>
<% end %>

<h2>年目標の新規登録</h2>
<% flash.each do |message_type, message| %>
   <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= form_with scope: :target, url: annual_targets_path do |f| %>
  <p>
    <div>
      <%= f.label :year %>
      <%= f.select :year, 
        [[Time.now.year, Time.now.year], 
        [Time.now.year + 1, Time.now.year + 1], 
        [Time.now.year + 2, Time.now.year + 2]]
      %>
    </div>
    <div><%= f.label :name %>
    <div><%= f.text_area :name %></div>
  </p>
  <%= f.submit "投稿" %>
<% end %>
